<div class ="top">
<h1>love les livres</h1>
<form action="/search" method="get">
    <input name = "name" type="text" placeholder ="Search Books" class ="search-bar">
    <button class="search-btn">search</button>
</form>
</div>

<div class= "main">
    <section class ="left">
        <div class =friends></div>
    </section>
    <section class= "right">
        <div class ="notifications"></div>
        <div class ="booklists"></div>
    </section>
    
</div>
