<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>love les livres</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>

<body>
<div class = "content">
  <header>
    <% if logged_in? %>
      <p>Welcome back <%= current_user.name %></p>
      <form action="/session" method ="post">
        <input type="hidden" name="_method" value="delete">
        <button>logout</button>
      </form>
      <a href="/password">edit account</a>
      <img src="<%=current_user. profile_image%>" alt="" class ="profile-img header-right">
    
    <%else%>
      <a href="/login">login</a>
    <% end %>
  </header>

  <div class ="top">
    <a href="/"><img src="/img/logo3.png" alt="love les livres" class ="logo"></a>
    <form action="/search" method="get" class ="search-form">
      <input name = "name" type="text" placeholder ="Search Books" class ="search-bar">
      <button class="search-btn">search</button>
    </form>
  </div>

 

    <%= yield %>
 
</div>


  <footer>
    <div>
      <img src="/img/footer-img.png" alt="">        created by yyuuttoonngg using <a href="https://www.goodreads.com/">goodreads API </a>
      <audio src="meow2.wav"></audio>
    </div>
  </footer>

  <script src="javascripts/application.js"></script>


</body>

</html>