<h1>login</h1>
<form action="/session" method ="post">
<label for="">email</label>
<input type="email" name ="email">
<label for="">password</label>
<input type="password" name ="password">
<button>login</button>
</form>

<p>New to our site? <a href="/signup">click here to signup</a> </p>