<div class = "login">
    <p>Welcome back</p>
    <form action="/session" method ="post">
        <p>
            <label for="">email</label>
            <input type="email" name ="email">  
        </p>
        <p>
            <label for="">password</label>
            <input type="password" name ="password">
        </p>
        <p><button>login</button></p>
    </form>
    <p><a href="/signup">new? signup</a> </p>
</div>