<div class ="login">
        <p>please confirm your password</p>
        <form action="/password" method="post">
                <input type="hidden" name = "_method" value ='put'>
                <label for="">password</label>
                <input type="password" name ="password">
                <p><button>submit</button></p>
        </form>
        
</div>