<p>recommend</p>

<form action="/recommend" method ="post">
<label for="">recommend book</label>
<input type="text" name ="content">

<label for="">send to</label>
<input type="text" name ="name" value="<%=params[:name]%>">
<button>send</button>
</form>