<div class ="login message">
    <p>recommend a book</p>
   
    <form action="/recommend" method ="post">
    <p>
        <label for="">to</label>
        <input type="text" name ="name" value="<%=params[:name]%>">
    </p>
    <p class="message-content">
        <label for="">book</label>
        <input type="text" name ="content">
    </p>

    <button>send</button>
    </form>
</div>