<div class="search">
    <p>Did you mean</p>
    <div class="search-flex">
        <%@books.each do |book|%>
        <p><img src="<%=book['best_book']['small_image_url']%>" alt=""><a href ="/book?id=<%=book["best_book"]["id"]%>"><%=book["best_book"]["title"]%></a> by <%=book["best_book"]["author"]["name"]%></p>
        <%end%>
    </div>
</div>