<h1>signup</h1>
<form action="/signup" method ="post">
<label for="">email</label>
<input type="email" name ="email">
<label for="">name</label>
<input type="text" name ="name">
<label for="">password</label>
<input type="password" name ="password">
<button>create account</button>
</form>